/* You can add global styles to this file, and also import other style files */
/* Custom Header Styles */

.navbar {
  min-height: 100px;
}

.navbar-basic {
  background: url('/assets/images/gretsch-bg.jpg') center center;
  background-size: cover;
  color: #0f0404;
}

.navbar-basic .navbar-brand {
  color: #00A86B;
  font-size: 36px;
  padding-right: 100px;
}

.navbar-basic .nav > li > a,
.navbar-basic .nav > li {
  background-color: #6b6d6b;
  color: #f0f8f0;
  font-size: 24px;
  padding-right: 50px;
  border-radius: 4px;
  margin: 5px; 
  padding: 10px 15px; 
}

.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus,
.active-link {
  background-color: #228B22; 
  color: #fff;
}

.active {
  background-color: #c8f7ca;
  color: rgb(58, 141, 230); 
}

/* Custom Inventory page style */
.custom-flex-container {
  display: flex;
  flex-direction: row;
  height: 90vh; 
  width: 90vw;
  padding-top: 30px;
}

.guitar-list-container {
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  border: 2px solid #000000;
  height: 70vh;
  overflow-y: auto;
}

.router-outlet-container {
  flex-grow: 1;
  padding-top: 3vw;
}


.inventory-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 2vw;
  
}

.inventory-header {
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-container {
  display: flex;
  padding: 5px;
}

.search-icon {
  cursor: pointer;
}

button {
  padding: 5px 10px;
  cursor: pointer;
}

.image-container {
  width: 250px; 
  height: 180px; 
  overflow: hidden;
  position: relative; 
}

.image-container img {
  width: 100%; 
  height: auto; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
}

.guitar-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  text-decoration: none;
  flex: 1 1 calc(33.333% - 10px); 
}

.guitar-info {
  flex: 1;
}

.guitar-brand, .guitar-model {
  margin: 0;
}

.guitar-image-container {
  flex-shrink: 0;
  padding-left: 10px; 
}

.guitar-image-container img {
  height: 100px; 
  width: auto; 
  object-fit: cover;
}

.guitar-image-large{
height: 40vh !important;
width: auto !important;
object-fit: cover;
}

.guitar-detail,
.guitar-edit {
  max-width: 50vw; 
  padding: 100px; 
  overflow: auto;
}

.guitar-detail p,
.location-detail p {
  font-size: 20px;
}

