<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-6">
        <h3>{{ contact?.name || "Your Name Here" }}</h3>
        <img class="img-responsive" [src]="contact.imageUrl || 'assets/images/mexiduck.png'" alt="{{ contact?.name }} Image"/>
      </div>
      <div class="col-xs-6 text-right">
        <a type="button" class="btn btn-primary" [routerLink]="['edit']" >Edit</a>
        <a type="button" class="btn btn-danger" [routerLink]="[contact.id]" (click)="onDelete()">Delete</a>
      </div>
    </div>
  </div>
  <div class="panel-body" *ngIf="!contact.isAGroup">
    <p><strong>Email:</strong> {{ contact?.email || "No Email"}}</p>
    <p><strong>Phone:</strong> {{ contact?.phone || "No Phone" }}</p>
  </div>
  <div *ngIf="contact.isAGroup">
    <div class="row">
      <div class="form-group pad-left">
        <label for="groupList">Group Contacts:</label>

            <div  
            id="groupList" 
            style="min-height: 3rem;">
              <div *ngFor="let groupContact of groupContacts; let i = index">
                <div>
                  <cms-contact-item class="col-sm-11" [contact]="groupContact"></cms-contact-item>
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>



