<div class="inventory-container panel pull-left">
  <div class="list-group-item-heading">
    <h2>Inventory</h2>
    <div class="search-container">
      <input placeholder="Enter a search value" #searchBox (keyup)="search(searchBox.value)">
      <div class="search-icon" (click)="search(searchBox.value)"></div>
    </div>
    <button *ngIf="isInventory" class="btn-success" [routerLink]="['new']">Add Guitar</button>
  </div>
  <div class="guitar-list-container">
    <div cdkDropList [cdkDropListData]=null>
      <div cdkDrag *ngFor="let guitar of guitars | guitarsFilter:term" [cdkDragData]="guitar">
        <gc-guitar-item [guitar]="guitar"></gc-guitar-item>
      </div>
    </div>
  </div>
</div>