.image-container {
  width: 250px; /* or any specific width */
  height: 180px; /* or any specific height */
  overflow: hidden;
  position: relative; /* Set the container's position to relative */
}

.image-container img {
  width: 100%; /* Make the image fill the container width */
  height: auto; /* Keep the image's aspect ratio */
  position: absolute; /* Position the image absolutely within the container */
  bottom: 0; /* Align the image to the bottom of the container */
  left: 0; /* Align the image to the left of the container */
}